/* styles.css */

/* Estilos generales */
body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Estilos para el encabezado */
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  header h1 {
    font-size: 24px;
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Estilos para el contenido principal */
  main {
    margin-top: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  section h2 {
    font-size: 18px;
  }
  
  section p {
    line-height: 1.5;
  }
  
  /* Estilos para los formularios */
  form label {
    display: block;
    margin-bottom: 5px;
  }
  
  form input[type="text"],
  form input[type="password"] {
    padding: 5px;
    width: 100%;
    margin-bottom: 10px;
  }
  
  form button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  /* Estilos para el pie de página */
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 14px;
  }
  .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
   }